.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 16px;
  border-bottom: 1px solid var(--mui-palette-divider);
  padding: 8px 16px;
}

.name {
  font-weight: 500;
}
