@use "../styles/mixins" as *;

.nameDescription {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 16px;
}

.name input {
  font-size: 1.5rem;
  font-weight: 700;
}

.stepsRow {
  @include flex-responsive(12px, space-between);
  margin-top: 24px;
}
